!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %title オプション
  %body
    %h1 Choose your color
    %input{ type: "radio", name: "colors", value: "red" } Red
    %input{ type: "radio", name: "colors", value: "green" } Green
    %input{ type: "radio", name: "colors", value: "blue" } Blue
    %button{ id: "save" } Save!
    %script{ src: "myscript.js" }
